<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.fdmgroup.buythethingsisell" />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	<context:annotation-config />
	<bean id="entityFactory" class="com.fdmgroup.buythethingsisell.entities.EntityFactory" />
	<bean id="jsonConverter" class="com.fdmgroup.buythethingsisell.entities.JSONConverter" />
	<bean id="itemReadJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.ItemReadJDBC" />
	<bean id="itemWriteJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.ItemWriteJDBC" />
	<bean id="categoryReaderJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.CategoryReaderJDBC" />
	<bean id="itemByCatJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.ItemByCategoryJDBC" />
	<bean id="updateItemJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.UpdateItemJDBC" />
	<bean id="deleteItemJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.DeleteItemJDBC" />
	<bean id="itemBySellerJDBC" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.ItemBySellerNameJDBC" />
	<bean id="registerNewUserJDBC" class="com.fdmgroup.buythethingsisell.jdbc.userfunctions.RegisterNewUser" />
	<bean id="adminSQLDI" class="com.fdmgroup.buythethingsisell.jdbc.userfunctions.AdminSQLDirectInterface" />
	<bean id="itemEntityBuilder" class="com.fdmgroup.buythethingsisell.jdbc.itemfunctions.ItemEntityBuilder" />
	<bean id="securityContextUserName" class="com.fdmgroup.buythethingsisell.springcontrollers.SecurityContextUserName" />
	<bean id="fdmoracleSQLConnection" class="com.fdmgroup.buythethingsisell.jdbc.FDMOracleSQLConnection" />
	
</beans>